# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# maven based java project
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml

# System Files
.DS_Store
Thumbs.db
